
@import "cores";
@import "reset";

body {
    background-color: $verde;
    
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu {
        display: flex;
        gap: 5px;

        a {
            border-radius: 5px;
            padding: 8px;
            background-color: $roxo;
            color: white;
            text-decoration: none;
        }
    }
}

.form-cadastro {
    background-color: $cinza-claro;
    border: $cinza-escuro solid 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 10px 10px 10px;

    &__titulo {
        text-align: center;
        margin: 0px;
    }

    &__entrada {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            background-color: $cinza-escuro;
            border-radius: 5px;
            color: white;
            border: none;
            padding: 7px;
        }
    }

    &__saida {
        .status {
            text-align: center;
            padding: 7px;
            border-radius: 5px;
            color: white;
            display: none;
        }
        .sucesso {
            background-color: $sucesso;
        }
        .erro {
            background-color: $erro;
        }
    }
}

input {
    padding: 5px;
    border: solid $cinza-medio 2px !important;
    border-radius: 5px;

    &::placeholder {
        color: $cinza-medio;
    }
}
